<div class= "home-main__recommend">
  <!-- 画像ブロック -->
  <div class= "home-main__recommend--thumb">
    <% if info.images.any? %>
      <%= image_tag info.image_url %>
    <% else %>
      <span>画像が有りません</span>
    <% end %>
  </div>
  <div class= "home-main__recommend--description">
    <div class= "home-main__recommend--description-user"><%= image_tag info.user.avatar.to_s %></div>
    <div class= "home-main__recommend--description-title"><%= info.title %></div>
    <div class= "clearfix"></div>
    <div class= "home-main__recommend--description-tag">
      <% info.recotag_list.first(2).each do |t| %>
        <div class=recotag-list><%= t %></div>
      <% end %>
    </div>
    <div class= "home-main__recommend--description-fav">
      <!-- ユーザーが既にお気に入りにしている場合 -->
      <% if info.favorite_user(current_user.id) %>
        <%= link_to recommend_favorite_path(favorite, recommend_id: info.id), id: 'favorite-link', method: :delete, remote: true do %>
          <i class="fa fa-star"></i>
          <% if info.favorites.any? %>
            <span class="recommend-fav-count"><%= info.fav_count %></span>
          <% else %>
            <span class="recommend-fav-count">0</span>
          <% end %>
        <% end %>
      <!-- ユーザーがまだお気に入りにしていない場合 -->
      <% else %>
        <%= link_to recommend_favorites_path(info), id: 'favorite-link', method: :post, remote: true do %>
          <i class="fa fa-star"></i>
          <% if info.favorites.any? %>
            <span class="recommend-fav-count"><%= info.fav_count %></span>
          <% else %>
            <span class="recommend-fav-count">0</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class= "clearfix"></div>
  </div>
</div>
