<div class="new_container">
  <%= form_for @recommend do |f| %>
    <p class="advise1">まずはざっくりと入力してみましょう。後から編集もできるので、詳細が決まったらどんどん編集して、ページを充実させていきましょう！</p>
    <!-- タイトルブロック -->
    <div class="title-block">
      <%= f.text_field :title, class: "title", placeholder: "タイトルを入力" %>
      <%= f.error_span(:title) %>
      <p class="count">
        13字入力済 / 30字まで
      </p>
    </div>
    <!-- メインブロック -->
    <div class="main-block">
      <!-- 画像 -->
      <div class="main-block__image">
        <!-- スライド１ -->
        <div  class="image_content">
          <%= f.fields_for :images do |i| %>
            <%= i.file_field :image, style: "display:none;"%>
            <%= i.label :image, "アップロードする", class: "upload-btn" %>
          <% end %>
        </div>
      </div>
      <!-- 情報 -->
      <div class="main-block__info">
        <!-- 投稿者 -->
        <div class="producer">
          <%= image_tag  current_user.avatar.url(:thumb) %>
          <span class="producer-name"><%= current_user.nickname %></span>
        </div>
        <!-- fav数 -->
        <div class="fav">
          <i class="fa fa-star"></i>
          <span class="fav-count">0</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- なぜ？ -->
      <div class="main-block__why">
        <%= f.text_area :detail, class: "detail", placeholder: "ここに詳細を入力してください" %>
        <div class="tags">
          <!-- タグ入力 -->
          <%= f.label :recotag_list, "タグを追加(複数ある場合はカンマで区切り入力してください)" %><br>
          <%= text_field_tag 'recommend[recotag_list]', @recommend.recotag_list.join('.
          ,'), "data-role" => "tagsinput" %>
        </div>
        <!-- 入力した文字数カウント -->
        <p class="count">
          25字入力済 / 300字以内
        </p>
      </div>
    </div>
    <%= f.submit "作成" %>
  <% end %>
</div>
