<div class="sign-up-container">
  <a class="sign-up__logo" href="/">
    <i class="fa fa-hand-spock-o", id="sign-up__logo_i">めこぴ</i>
  </a>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h1 class="sign-up-form__text">アカウント登録して○○しよう！</h1>

    <div class="sign-up-form__list">
      <%= f.text_field :nickname, autofocus: true, class: "nickname" %>
      <span class="sign-up-form__desc">
        ニックネームを入力してください
      </span>
    </div>

    <div class="sign-up-form__list">
      <%= f.email_field :email, class: "email" %>
      <span class="sign-up-form__desc">
        メールアドレスを入力してください
      </span>
    </div>

    <div class="sign-up-form__list">
      <%= f.password_field :password, autocomplete: "off", class: "password" %>
      <span class="sign-up-form__desc">
        パスワードを入力してください
      </span>
    </div>

    <div class="sign-up-form__list">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "password" %>
      <span class="sign-up-form__desc">
        確認のためもう一度パスワードを入力してください
      </span>
    </div>

    <div class="sign-up-form__list">
      <%= f.file_field :avatar, style: "display:none" %>
      <%= f.label :avatar, "イメージを選択", class: "upload-btn" %>
      <span class="sign-up-form__desc">
        プロフィール画像を選択してください
      </span>
    </div>

    <div class="actions">
      <%= f.submit "アカウントを作成", class: "sign-up-form__send-btn" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
